.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20rem;
  td, th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {
    background-color: #ddd;
  }
  th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
}

.modalCloseBtn {
  cursor: pointer;
  background-color: #fff;
  border: #fff;
  font-size: 1.3rem;
}

.number {
  color: #e74c3c;
}