@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.notExist {
  font-family: 'LeferiPoint-WhiteObliqueA';
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.infoIcon {
  color: #1ab4e8;
}

.mainBtn {
  text-decoration: none;
  color: rgba(0, 118, 255, 0.9);
}