@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
  font-family: 'Donoun-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: rgba(0, 118, 255, .9);
  font-weight: bold;
}

body {
  background-color: #fff;
}

.container {
  border: 1px solid #fff;
  width: 20rem;
  height: 40rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  h1 {
    margin-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
  }
}

.btn {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: bold;
  margin-top: 5rem;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  width: 6rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 17px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  max-width: 100%;
  text-align: center;
  z-index: 0;
  transition: .3s;

  &:hover {
    background: rgba(152, 188, 230, 0.9);
    color: #fff;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  &:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }

  &:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  &:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }

  &:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
}

.selectBox {
  font-family: 'IBM Plex Sans KR', sans-serif;
  text-align: center;
  margin-top: 1rem;
  text-align: center;
  background-color: #fff;
  border: #000;

  select {
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    width: 13.5rem;
    height: 2.8rem;
    border-radius: 3rem;
    box-shadow: 5px 5px 5px 5px #ccc;
    border: #000;
  }
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: rgba(0, 118, 255, 0.9);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 118, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);

  span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }

  span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(0, 118, 255, 0.9);
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px rgba(0, 118, 255, 0.9);
  }
}

.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid rgba(0, 118, 255, 0.9);
  border-right: 3px solid rgba(0, 118, 255, 0.9);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}