@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.title {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: rgba(0, 118, 255, .9);
  font-weight: bold;
}

.rad-label {
  margin-left: auto;
  margin-right: auto;
  width: 13rem;
  background-color: rgb(243, 243, 243);
  margin-top: 4rem;
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: rgba(0, 118, 255, 0.9);
}

.rad-input {
  margin-top: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(59, 71%, 73%), hsl(69, 74%, 72%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  text-align: center;
  font-family: 'Gowun Dodum', sans-serif;
  color: rgb(37, 36, 36);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: rgb(255, 255, 255);
}