@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Donoun-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Donoun-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.notExist {
  font-family: 'LeferiPoint-WhiteObliqueA';
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.infoIcon {
  color: #1ab4e8;
}

.mainBtn {
  text-decoration: none;
  color: rgba(0, 118, 255, 0.9);
  &:hover {
    color: rebeccapurple;
  }
}

.mainTable{
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  width: 19rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 14px;
  td , th{
    padding: 10px 20px;
    text-align: center;
  }
  th{
    background-color: rgba(82, 151, 234, 0.9);
    height: 15px;
    color: #FFFFF0;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 600;
  }
  tr{
    font-weight: 600;
    font-family: 'Gowun Dodum', sans-serif;
    width: 100%;
    background-color: #fff;
  }
}

.routerQuery {
  text-align: center;
  font-family: 'Donoun-Medium';
  margin-top: 1rem;
  font-size: 2rem;
  span {
    color: #1bcb69;
  }
}

.currentTime {
  margin-top: 2rem;
}

.time {
  width: 60px;
  font-size: 17px;
  span {
    font-size: 12px;
    color: #DC143C;
  }
}

.bus_num {
  font-size: 18px;
  color: #f00;
}

.remainTime {
  font-size: 18px;
  color: #4eba62;
}

.startTime {
  color: #fd7f4f;
}

.arrivalTime {
  color: #fd7f4f;
}

.price {
  font-weight: bold;
  color: #118C4F;
}

.usingTime {
  color: #bf94e4;
}

.table_tr {
  font-size: 11px;
}